*
  margin: 0
  padding: 0
  box-sizing: border-box

$lightgrey: #88a
$lightblue: #58f

=shadow
  box-shadow: 1px 1px 5px 0 lightgrey

=chip
  padding: 0.3em 1em
  border-radius: 2em
  background-color: #9cd
  color: #fef
  cursor: pointer
